%span{class: "page#{' current btn btn-inverse disabled' if page.current?}"}
  = link_to_unless page.current?, page, url, {remote: remote, class: 'btn btn-inverse', rel: page.next? ? 'next' : page.prev? ? 'prev' : nil}