.simple_captcha {
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 10px !important;
  background-color: #dddddd;
  width: 220px;
}

.simple_captcha_image {
  text-align: center;
}

.simple_captcha_image img {
  border-radius: 5px;
}