.container
  %h1= @category.title
  - if user_signed_in?
    - if @category.users.include? current_user
      %h2 You subscribe
    - else
      %h2 You not subscribe
  %div
    = paginate @pictures
    - @pictures.each do |picture|
      %div
        = link_to picture.image_file_name, picture_path( @category.title, picture.id)
        = image_tag picture.image.url